<!doctype = html>
<head>
   <title>{{title}}</title>
   <link rel = "stylesheet" href = "/static/css/style.css" link>
   <!--dense regular-->
   <!--Copyright c 2013 by Charles Daoud. All rights reserved.-->>
   <link href="https://www.dafontfree.net/embed/ZGVuc2UtcmVndWxhciZkYXRhLzE2L2QvNzgwNDAvRGVuc2UtUmVndWxhci5vdGY" rel="stylesheet" type="text/css"/>
   <!--heathergreen, homepage title font-->
   <!--This font was created using FontCreator 9. 0 from High-Logic. com-->
   <link href="https://www.dafontfree.net/embed/aGVhdGhlcmdyZWVuLXJlZ3VsYXImZGF0YS8zMS9oLzExMzM3L0hlYXRoZXJncmVlbi5vdGY" rel="stylesheet" type="text/css"/>
   <!--flamingo, title font-->
   <!--Flamingo Litch is donationware. Donations can be made through PayPal and my accout with them is turoturomayahoo. es-->
   <link href="https://www.dafontfree.net/embed/ZmxhbWluZ28tbGljaHQmZGF0YS81MC9mLzMzNzE0L0ZsYW1pbmdvTGljaHQub3Rm" rel="stylesheet" type="text/css"/>
   <!--Scheherazade, san-serif-->
   <!--Copyright c 1994-2015, SIL International http www. sil. org. This Font Software is licensed under the SIL Open Font License, Version 1. 1, with Reserved Font Names "Scheherazade " and "SIL ". This license is copied below, and is also avail-->
   <link href="https://www.dafontfree.net/embed/c2NoZWhlcmF6YWRlLWJvbGQmZGF0YS83ODIvcy8xODE3MDMvU2NoZWhlcmF6YWRlLUJvbGQudHRm" rel="stylesheet" type="text/css"/>
    <nav>{% include "nav.html" %}</nav>
    <main>{% block content %}{% endblock %}</main>
    <footer>{% include "footer.html" %}</footer>
</body>