<!doctype = html>
{% extends "layout.html" %}
{% block content %}

<body>
    <div class = "wrapper">
        <nav class = "genre-nav">
            <a href = "#new-release">
                <h2>New Releases</h2>
            </a>
            <h3>Check out the latest 2023 releases</h3>
            {% for genre in genre_list %}
                <a href = "#{{genre}}"><h2>{{genre}}</h2></a>
                <h3>{{genre_descriptions[genre]}}</h3>
            {% endfor %}
        </nav>

        <div class = "genre-sections">
            <!--2023 New Releases section-->
            <div class = 'genre'>
                <a id = "new-release">
                <h1>NEW 2023 RELEASES!</h1>
                </a>
                <ul>
                {% for title, poster in two_zero_two_three_movies['movie_posters'].items() %}
                    <a href = "/movie_info/{{two_zero_two_three_movies['movie_ids'][title]}}">
                    <li class = "poster-gallery"><img src = "/static/photos/pearl.jpg"/><!--{{poster}}-->
                    <h3>{{title}}</h3>
                    <h3>{{two_zero_two_three_movies['movie_ratings'][title]}}%</h3></li>
                    </a>
                {% endfor %}
                </ul>
            </div>
            

            <!--Genre section-->
            {% for genre in genre_list %}    
                <div class = 'genre'>
                    <ul class = 'explore-genre'>
                    <li><a id = "{{genre}}"><h2>{{genre}}</h2></a></li>
                    
                        {% for poster in range(5) %}
                        <!--more posters in actual gallery-->
                        <a href = "/movie_info/{{movie_ids[genre][poster]}}">
                            <li class = "poster-gallery">
                                <img src = "/static/photos/pearl.jpg"/>
                                <h3>{{movie_names[genre][poster]}}</h3>
                                <h3>{{genre_movie_rtr[genre][poster]}}</h3>
                            </li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
       

    </div>
    
</body>

{% endblock %}