{% extends "layout.html" %}
{% block content %}
    <h1>WHAT SHOULD I BINGE TODAY?</h1>
    <hr>
    <div class = "quiz_container">
        <h2 id = "question">Question</h2>
        <div class = "answers" id = "answers">
        <form action = "/quiz_results">
        <!--handling data from forms using python routes: https://stackoverflow.com/questions/11556958/sending-data-from-html-form-to-a-python-script-in-flask-->
        <!--handling data from forms using python routes: https://www.infoworld.com/article/2077176/using-javascript-and-forms.html -->
            <ul id = "options">
            </ul> 
        </form>
        </div>
        <a href = "/quiz_question/{{question_num_u}}" class = "next">NEXT &#8608;</a>

    </div>
    <label id = "question_number" style = "display: none;">{{question_num}}</label>
    <h3 id = "test"></h3>
    <script src = "/static/js/quiz.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--passing javascript object to routes.py: https://www.geeksforgeeks.org/pass-javascript-variables-to-python-in-flask/-->
    <script>
        function transferData(answerOp,question_number,genre_list){
            $.ajax({
                url: "/quiz_results",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    'answer_option': answerOp,
                    'question_number': question_number,
                    'genre_list': genre_list
                }),
                success: function(response) {
                    document.getElementById('test').innerHTML = response.result;
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
{% endblock %}