{% extends "layout.html" %}
{% block content %}
    <h1>WHAT SHOULD I BINGE TODAY?</h1>
    <hr>
    <div class = "quiz_container">
        <h2 id = "question">Question</h2>
        <div class = "answers" id = "answers">
        <ul id = "options">
        </ul>
        </div>
        <a href = "/quiz_question/{{question_num_m}}" class = "back">&#8606; BACK</a>
        <a href = "/quiz_question/{{question_num_u}}" class = "next">NEXT &#8608;</a>

        <div class = "tick-boxes">
            <input type = "checkbox" id = "question-one-tick" value = "1">
            <input type = "checkbox" id = "question-two-tick" value = "2">
            <input type = "checkbox" id = "question-three-tick" value = "3">
            <input type = "checkbox" id = "question-four-tick" value = "4">
            <input type = "checkbox" id = "question-five-tick" value = "5">
            <input type = "checkbox" id = "question-six-tick" value = "6">
        </div>
    </div>
    <label id = "question_number" style = "display: none;">{{question_num}}</label>
    <h3 id = "test"></h3>
    <script src = "/static/js/quiz.js"></script>
{% endblock %}