{% extends "layout.html" %}
{% block content %}
    <h1>WHAT SHOULD I BINGE TODAY?</h1>
    <hr>
    <div class = "quiz_container">
        <h2 id = "question">Question</h2>
        <div class = "answers" id = "answers">
        <ul>
        </ul>
        </div>
        <div class = "back">
            <h2 id = "back-arrow">BACK &#8606;</h2>
        </div>
        <div class = "next">
            <h2 id = "next-arrow">NEXT &#8608;</h2>
        </div>
        <div class = "tick-boxes">
            <input type = "checkbox" id = "question-one-tick" value = "1">
            <input type = "checkbox" id = "question-two-tick" value = "2">
            <input type = "checkbox" id = "question-three-tick" value = "3">
            <input type = "checkbox" id = "question-four-tick" value = "4">
            <input type = "checkbox" id = "question-five-tick" value = "5">
            <input type = "checkbox" id = "question-six-tick" value = "6">
        </div>
    </div>
    <label id = "question_number" style = "display: none;">1</label>
    <p id = "test">test</p>
    <script src = "/static/js/quiz.js"></script>
{% endblock %}